
*{ 
    margin: 0; 
    padding: 0; 
} 
div{ 
    display: block; 
    background-color: #a25b9a; 
    margin: 10px  5px 0 5px; 
} 
body{ 
    font-family: Verdana,Arial, Helvetica, sans-serif; 
    color: #5c577e; 
    background-color: #fff; 
    font-size: 10px; 
    height: auto; 
    padding: 10px 0; 
 
} 
:root{ 
    --awards_color: #180e17; 
    --followers_color: #763B6F; 
}

.a{
    background-color: #763B6F;
}
.b{
    background-color: aqua;
}
.c{
    background-color: blue;
}
.d{
    background-color: brown;
}
.e{
    background-color: chocolate;
}
.f{
    background-color: darkolivegreen;
}
.g{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #5A2D6C;
    background-color: #fff;
    background-attachment: scroll;
    font-size: 10px;
    height: auto;
    border-bottom: 1px solid #763B6F;
}
#enlacesinsub
{
    text-decoration: none;
}
.g{
    border-bottom: 1px solid  #763B6F;
    background-color:white;
    color: #a25b9a;
    font-size: 12px;
}
#enlacesinsub
{
    text-decoration: none;
}
.tex{
    font-family: Verdana,Arial,Helvetica,sans-serif;
    color: #5A2D6C;
    background-color: #fff;
    background-attachment: scroll;
    font-size: 10px;
    height: auto;
}