
*{ 
    margin: 0; 
    padding: 0; 
} 
div{ 
    display: block; 
    background-color: #a25b9a; 
    margin: 10px  5px 0 5px; 
} 
body{ 
    font-family: Verdana,Arial, Helvetica, sans-serif; 
    color: #5c577e; 
    background-color: #fff; 
    font-size: 10px; 
    height: auto; 
    padding: 10px 0; 
 
} 
:root{ 
    --awards_color: #180e17; 
    --followers_color: #763B6F; 
}

.a{
    background-color: #763B6F;
}
.b{
    background-color: aqua;
}
.c{
    background-color: blue;
}
.d{
    background-color: brown;
}
/*mabel*/
.tablas{
    background-color: #a25b9a;
}
.encabezado{
    background-color: #a25b9a;
}
.encabezado_titulo{
    background-color: #a25b9a;
    display: flex;
}
.subtitulos{
    margin-left: 50px;
}

h2{
    color: #fff;
    font-size: 10px;
}
dd.listado{
    background-repeat: no-repeat;
    background-position: 5px 50%;
}
.temas{
    color: #fff;
    margin-left: 10px;
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 100px;  
}
ul.listado{
    margin:0%;
}

/*fin*/
.f{
    background-color: darkolivegreen;
}
.g{
    background-color: deeppink;
}